---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import background from "@/assets/background.svg";
import "@/styles/global.css";
import { SITE } from "@/config";

type Props = {
	title?: string;
	description?: string;
	ogImage?: string;
	canonicalURL?: string;
	scrollSmooth?: boolean;
};

const {
	title = SITE.title,
	description = SITE.desc,
	ogImage = "/siteOg.png",
	canonicalURL = new URL(Astro.url.pathname, Astro.url),
	scrollSmooth = false,
} = Astro.props;

const socialImageURL = new URL(ogImage, Astro.url);

const structuredData = {
	"@context": "https://schema.org",
	"@type": "Organization",
	headline: `${title}`,
	image: `${socialImageURL}`,
};
---

<!DOCTYPE html>
<html lang="en" class={`${scrollSmooth && "scroll-smooth"}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />

		<Font
			cssVariable="--font-garamond"
			preload={[{ subset: "latin", weight: 400, style: "normal" }]}
		/>
		<Font
			cssVariable="--font-gowun"
			preload={[{ subset: "korean", weight: 400, style: "normal" }]}
		/>

		<!-- General Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Open Graph / Facebook -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={socialImageURL} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={socialImageURL} />

		<!-- Google JSON-LD Structured data -->
		<script
			type="application/ld+json"
			is:inline
			set:html={JSON.stringify(structuredData)}
		></script>

		<ClientRouter />
	</head>
	<body>
		<img
			id="background"
			src={background.src}
			alt=""
			fetchpriority="high"
			class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
		/>
		<img
			id="background"
			src={background.src}
			alt=""
			fetchpriority="high"
			class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
		/>
		<slot />
	</body>
</html>
